*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.contenedor{
    background-color: #ffffff;
    max-width: 600px;
    padding: 18px;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);    
    width: 100%;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

h1{
    font-size: 1.5rem;
    color: #333;
}

#btn-tema{
    padding: 8px 12px;
    background-color: #333;
    color: wheat;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
}
#form-tarea{
    display: flex;
    flex-direction: row;
    gap: 10px;
  
    
}
#input-tarea, #input-fecha{
    padding: 10px;
    border-radius: 18px;
    border: 1px solid #ddd;
    
}
#input-tarea{
    flex-grow: 1;
}
#btn-añadir{
    padding: 8px 16px;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: #4caf50;
}
#btn-añadir:hover{
    background-color: #45a049;
    
}
#lista-tareas{
    list-style: none;
}
#lista-tareas li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
}